* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: black;
    line-height: 1.6;
}
.continer{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    
}